form{
    display: flex;
    flex-direction: column;

    width: 40%;

    gap: 36px;
    
    text-align: start;
    
    button{
        align-self: center;
        width: 100%;
    }

    div{
        display: flex;
        flex-direction: column;
    }
}