form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:    "start end"
                            "dj dj"
                            "play play"
                            "save delete";
    gap: 48px;

    justify-items: center;

    #timeStart{
        grid-area: start;
    }
    #timeEnd{
        grid-area: end;
    }
    #chooseDJ{
        grid-area: dj;
    }
    #btnPlaylist{
        grid-area: play;
    }
    #btnSave{
        grid-area: save;
    }
    #btnDelete{
        grid-area: delete;
    }
}