<div class="sidebar">
    <nav>
        <a href="/timeline">Home</a>
        <a href="#">Now Playing</a>
        <a href="/login">Login</a>
    </nav>
    <img src="images/logo.jpg" width="100" alt="An image of the company logo">
</div>