<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/login.css">
        <script scr="js/login.js"></script>
        <script src="js/util.js"></script>
    </head>
    <body>
        <div class="container">
            <%- include("./partials/sidebar"); %>
            <header><%=title %></header>
            <div class="task">
                <form name="loginForm" action="timeline.html">
                    <div>
                        <label for="inUser">Username:</label>
                        <input type="text" id="inUser" name="inUser" placeholder="Enter your Username" required>
                    </div>
                    <div>
                        <label for="inPass">Password: </label>
                        <input type="password" id="inPass" name="inPass" placeholder="Enter your Password" required>
                    </div>
                    <button id="btnLogin">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>