<!DOCTYPE html>
<html>
    <head>
        <title><%=title %></title>
        <link rel="stylesheet" href="css/styles.css">
        <script src="js/util.js"></script>
    </head>
    <body>
        <div class="container">
            <%- include("./partials/sidebar"); %>
            <header><%=title %></header>
            <div class="task">
                grlup
            </div>
        </div>
    </body>
</html>