#playlistView{
    display: flex;
    flex-direction: column;

    width: 90%;
    height: 400px;
    
    border: 3px solid black;

    justify-items: center;
    align-items: center;

    background-color: gray;
    
    #btnAddSong{
        width: 100%;
        height: 80px;
        flex-shrink: 0;
    }
}
#playlistEntries{
    width: 100%;
    height: 100%;

    overflow-y: scroll;
    overflow-x: hidden;
}

.playlistEntry{
    display: grid;
    width: 100%;
    grid-template-columns: 2fr, 2fr, 2fr, 2fr;
    grid-template-areas:    "name artist duration buttons";

    width: 100%;
    height: 90px;

    align-items: center;

    gap: 12px;

    background-color: aliceblue;

    border-radius: 12px;
    border: 2px solid black;

    label{
        width: 1px;
        max-width: 1px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    input{
        width: 300px;
    }
    .songName{
        grid-area: name;
        justify-self: start;
    }
    .songArtist{
        grid-area: artist;
        justify-self: start;
        width: 200px

    }
    .songDuration{
        grid-area: duration;
        justify-self: end;
        width: 200px
    }
    .btns{
        grid-area: buttons;
        justify-self: end;
    }
}
.btns{
    display: flex;
    flex-direction: row;
}
.btnsMove{
    display: grid;
    grid-template-rows: repeat(1fr);
    grid-template-areas:    "UP"
                            "DOWN";

    width: auto;

    .btnUP{
        grid-area: UP;
    }
    .btnDOWN{
        grid-area: DOWN;
    }
}
.btnDELETE, .btnUP, .btnDOWN{
    width: 80px;
    height: 80px;
}
.btnUP, .btnDOWN{
    height: 40px;
}