#playlistView{
    display: flex;
    flex-direction: column;

    width: 800px;
    height: 400px;
    
    border: 3px solid black;

    justify-items: center;
    align-items: center;

    background-color: gray;
    
    #btnAddSong{
        width: 100%;
        height: 80px;
        flex-shrink: 0;
    }
}
#playlistEntries{
    width: 100%;
    height: 100%;

    overflow-y: scroll;
    overflow-x: hidden;
}

.playlistEntry{
    display: grid;
    grid-template-columns: 3fr, 2fr, 1fr;
    grid-template-areas:    "name duration buttons";

    width: 100%;
    height: 90px;

    justify-items: center;
    align-items: center;

    gap: 12px;

    background-color: aliceblue;

    border-radius: 12px;
    border: 2px solid black;

    #input{
        grid-area: name;
    }
    #songDuration{
        grid-area: duration;
    }
    .btns{
        grid-area: buttons;
    }
}
.btns{
    display: flex;
    flex-direction: row;
}
.btnsMove{
    display: grid;
    grid-template-rows: repeat(1fr);
    grid-template-areas:    "UP"
                            "DOWN";

    width: auto;

    .btnUP{
        grid-area: UP;
    }
    .btnDOWN{
        grid-area: DOWN;
    }
}
.btnDELETE, .btnUP, .btnDOWN{
    width: 80px;
    height: 80px;
}
.btnUP, .btnDOWN{
    height: 40px;
}