body{
    overflow: hidden;
}
form{
    gap: 48px;
}
input{
    font-size: 24px;

    padding: 10px;

    border-radius: 25px;
}
select{
    font-size: 24px;
}
a, button{
    display: flex;

        border-radius: 15px;
        border: 2px solid black;
        box-shadow: 0px 2px 0px 2px rgba(128, 128, 128, 0.2);

        width: 180px;
        height: 80px;

        align-items: center;
        justify-content: center;

        text-decoration: none;
        text-align: center;

        font-size: 24px;
        color: black;

        background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
        background-blend-mode: lighten;
}
a:hover, button:hover{
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
    background-blend-mode: darken;
}
a:active, button:active, a:disabled, button:disabled{
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
    background-blend-mode: darken;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr 6fr;
    grid-template-areas:    "side head"
                            "side task";
}
.sidebar{
    grid-area: side;

    display: grid;
    grid-template-rows: 3fr 1fr;

    border: 2px solid black;

    background: aliceblue;

    nav{
        display: flex;
        flex-direction: column;

        justify-content: space-evenly;
        align-items: center;
    }
    a{
        width: 90%;
        background-color: aliceblue;
    }
    img{
        align-self: center;
        justify-self: center;
    }
}
header{
    grid-area: head;

    display: flex;

    justify-content: center;
    align-items: center;

    border-top: 2px solid black;
    border-bottom: 2px solid black;

    text-align: center;
    font-size: 48px;

    background-color: cadetblue;
}

.task{
    grid-area: task;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 24px;

    gap: 24px;
}